@model List<Business.CommonBusiness.CongViecBO>

@{
            int count = 0;
            double TotalScore = 0;
            foreach (var item in Model)
            {
                count++;
        <tr>
            <td>@count</td>
            <td>
                <a href="/QuanLyCongViec/QuanLyCongViec/Detail/@item.ID" target="_blank">
                    @item.TENCONGVIEC
                </a>
            </td>
            <td>@item.TEN_NGUOIXULYCHINH</td>
            <td>@(item.NGAYHOANTHANH_THEOMONGMUON.HasValue ? item.NGAYHOANTHANH_THEOMONGMUON.Value.ToString("dd/MM/yyyy") : "")</td>
            <td>@(item.NGAYKETTHUC_THUCTE.HasValue ? item.NGAYKETTHUC_THUCTE.Value.ToString("dd/MM/yyyy") : "")</td>
            <td><strong>@item.TEN_DOKHAN</strong></td>
            <td><strong>@item.PHANTRAMHOANTHANH</strong> %</td>
            <td>
                @if(item.TONGDIEM == 0)
                        {
                    if(item.PHANTRAMHOANTHANH < 50 || item.PHANTRAMHOANTHANH == null)
                    {
                        <span>
                            0.5
                        </span>
                        TotalScore = TotalScore + 0.5;
                    }
                    else if (item.PHANTRAMHOANTHANH < 80)
                    {
                        <span>
                            1
                        </span>
                        TotalScore = TotalScore + 1;
                    }
                    else
                    {
                        <span>
                            1.5
                        </span>
                        TotalScore = TotalScore + 1.5;

                    }
                }
                else
                {
                    <span>@item.TONGDIEM</span>
                    TotalScore = TotalScore + item.TONGDIEM;
                }
            </td>
            <td>@item.XEPLOAI</td>
            <td>
                <i class="fa fa-eye" onclick="ShowDetail(@item.ID)" title="Chi tiết đánh giá công việc"></i>
            </td>
        </tr>
    }
    <tr style="background-color:darkseagreen">
        <td colspan="7"><strong>Điểm trung bình</strong></td>
        <td>
           <strong>
               @Math.Round(TotalScore / count, 2)
           </strong> 
        </td>
        <td></td>
        <td></td>
    </tr>
}