@using Business.CommonModel.CONSTANT;
@model Web.Areas.HSVanBanDiArea.Models.VanBanDiVM
<style>
    .row-block {
        margin: 5px 0px;
    }

    .txt-label {
        padding-top: 7px;
    }

    .width100 {
        width: 100% !important;
    }

    .select2 {
        width: 100%;
    }
</style>
<div id="collapseDiv" class="panel-collapse collapse" aria-expanded="false" role="tabpanel">
    <div class="well">
        @using (Ajax.BeginForm("SearchData", "HSVanBanDi", new AjaxOptions()
        {
            HttpMethod = "POST",
            OnFailure = "failure1",
            OnSuccess = "searchSuccess",
        }, new { }))
        {
            @Html.AntiForgeryToken()
            <div class="row row-block">
                <input type="hidden" name="DOC_TYPE" value="@Model.docType" />
                <div class="col-md-12">
                    <label class="col-md-2 txt-label control-label" for="TRICHYEU">
                        Trích yếu:
                    </label>
                    <div class="col-md-10">
                        <input name="TRICHYEU" class="form-control" />
                    </div>
                </div>
                <div class="col-md-12">&nbsp;</div>

                <div class="col-md-12">
                    <label for="LOAIVANBAN_ID" class="col-md-2 control-label txt-label">
                        Thể loại:
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownList("LOAIVANBAN_ID", Model.LstLoaiVanBan, "--- Chọn Thể loại ---", new { @class = "select2" })
                    </div>
                    <label for="LINHVUCVANBAN_ID" class="col-md-2 control-label txt-label">
                        Lĩnh vực:
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownList("LINHVUCVANBAN_ID", Model.LstLinhVucVanBan, "--- Chọn lĩnh vực ---", new { @class = "select2" })
                    </div>
                </div>
                <div class="col-md-12">&nbsp;</div>

                <div class="col-md-12">
                    <label for="DOKHAN_ID" class="col-md-2 control-label txt-label">
                        Độ mật:
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownList("DOKHAN_ID", Model.LstDoKhan, "--- Chọn độ mật ---", new { @class = "select2" })
                    </div>

                    <label for="SOVANBANDI_ID" class="col-md-2 control-label txt-label">
                        Độ khẩn:
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownList("DOUUTIEN_ID", Model.LstDoUuTien, "--- Chọn độ khẩn ---", new { @class = "select2" })
                    </div>

                </div>
                <div class="col-md-12">&nbsp;</div>

                <div class="col-md-12">
                    <div class="col-md-2 txt-label">
                        <label class="control-label" for="NGAYTAO">
                            Ngày tạo:
                        </label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" name="NGAYTAO_TU" id="NGAYTAO_TUNGAY" class="form-control datepicker1" placeholder="Từ ngày" autocomplete="off" />
                    </div>

                    <div class="col-md-2">
                        <input type="text" name="NGAYTAO_DEN" id="NGAYTAO_DENNGAY" class="form-control datepicker1" placeholder="Đến ngày" autocomplete="off" />
                    </div>
                    <div class="col-md-2 txt-label">
                        <label class="control-label" for="LINHVUCVANBAN_ID">
                            Ngày ban hành:
                        </label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" name="BANHANHTUNGAY" id="TUNGAY" class="form-control datepicker1" placeholder="Từ ngày" autocomplete="off" />
                    </div>

                    <div class="col-md-2">
                        <input type="text" name="BANHANHDENNGAY" id="DENNGAY" class="form-control datepicker1" placeholder="Đến ngày" autocomplete="off" />
                    </div>

                </div>
                <div class="col-md-12">&nbsp;</div>

                <div class="col-md-12">
                    <div class="col-md-2 txt-label">
                        <label class="control-label" for="LINHVUCVANBAN_ID">
                            Ngày hiệu lực:
                        </label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" name="HIEULUCTUNGAY" id="HIEULUCTUNGAY" class="form-control datepicker1" placeholder="Từ ngày" autocomplete="off" />
                    </div>

                    <div class="col-md-2">
                        <input type="text" name="HIEULUCDENNGAY" id="HIEULUCDENNGAY" class="form-control datepicker1" placeholder="Đến ngày" autocomplete="off" />
                    </div>

                    <div class="col-md-2 txt-label">
                        <label class="control-label" for="LINHVUCVANBAN_ID">
                            Ngày hết hiệu lực:
                        </label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" name="HETHIEULUCTUNGAY" id="HETHIEULUCTUNGAY" class="form-control datepicker1" placeholder="Từ ngày" autocomplete="off" />
                    </div>

                    <div class="col-md-2">
                        <input type="text" name="HETHIEULUCDENNGAY" id="HETHIEULUCDENNGAY" class="form-control datepicker1" placeholder="Đến ngày" autocomplete="off" />
                    </div>
                </div>
                <div class="col-md-12">&nbsp;</div>

                <div class="col-md-12 center" style=" margin-top:20px;">
                    <button id="btnSearch" type="submit" class="btn btn-labeled btn-primary">
                        <span class="btn-label">
                            <i class="glyphicon glyphicon-search"></i>
                        </span>
                        Tìm kiếm
                    </button>
                    <a aria-expanded="false" href="#collapseDiv" data-toggle="collapse" role="button" class="btn btn-labeled btn-danger">
                        <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>
                        Đóng
                    </a>
                </div>
                <input type="hidden" name="DONVI_ID" id="DONVI_ID" />
            </div>
        }
    </div>
</div>
<script>
    $("#btnSearch").click(function () {
        $(".hinet-table tbody").html("");
        $(".hinet-table tfoot").html("");
        return true;
    });
    function failure1(data) {
        console.log(data);
    }
    function searchSuccess(rs) {
        $("#tbl-vanbandi").hinetTable("data", {
            pageIndex: 1,
            pagecount: rs.TotalPage,
            recordCount: rs.Count,
            listItem: rs.ListItem,
        });
    }
    function pagefunctionSearch() {
        $("#collapseDiv .select2").select2();
    }
    $(".datepicker1").datepicker({
        dateFormat: 'dd/mm/yy',
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>',
        changeMonth: true,
        changeYear: true,
        yearRange: "-20:+20"
    });
    $(document).ready(function () {
        loadScript("/Scripts/autoNumeric.min.js", function () {
            loadScript("/js/plugin/select2/select2.min.js", function () {
                loadScript("/Scripts/jquery.unobtrusive-ajax.min.js", pagefunctionSearch)
            });
        });
    })
</script>
