@using Web.Areas.HSVanBanDiArea.Models;
@model VanBanDiVM
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" href="/Content/select/css/bootstrap-select.css">
<style>
    .ms-drop {
        width: 100%;
    }

    .ms-choice {
        background: none;
        border: 1px solid #999;
        border-radius: 0px;
        height: 30px;
        width: 100%;
    }

    .ms-parent {
        width: 100%;
    }

    .ms-choice > span {
        width: 100%;
    }

    .red {
        color: red;
    }

    .text-danger {
        color: red;
    }

    .select2 {
        width: 100%;
    }
</style>
<div id="ribbon" style=" background-color:#57889c">
    <div class="col-md-6 col-sm-6">
        <ol class="breadcrumb"></ol>
    </div>
    <div class="col-md-6 col-sm-6" style="padding-top: 4px;">
        <a class="btn btn-default pull-right" href="@Url.Action("NavigateBackToList", new { type = Model.docType})">
            <i class="fa fa-arrow-left"></i>
            <span>Quay lại</span>
        </a>
    </div>
</div>

<div id="content">
    <div class="SearchCriterial clearfix hot-news-list-2">
        <div class="jarviswidget" id="wid-id-0">
            <header role="heading">
                <span class="widget-icon"><i class="fa fa-file-image-o txt-color-darken"></i></span>
                <h2 class="hidden-xs hidden-sm">
                    @(Model.VanBan.ID > 0 ? "THÊM MỚI VĂN BẢN ĐI" : "CẬP NHẬT VĂN BẢN ĐI")
                </h2>
            </header>
            <div role="content">
                <div class="widget-body">
                    <form action="@Url.Action("InsertVanBanDi")" method="post" enctype="multipart/form-data" id="form--update-vanbandi">
                        @Html.AntiForgeryToken()

                        <!--MÃ VĂN BẢN-->
                        <input type="hidden" name="ID" value="@Model.VanBan.ID" />

                        <!--DANH SÁCH ĐƠN VỊ NHẬN VĂN BẢN-->
                        <input type="hidden" id="DONVINHAN_ID" value="@Model.VanBan.DONVINHAN_INTERNAL_ID" />


                        @if (Model.IsAllowPublish)
                        {
                            <input type="hidden" name="ALLOW_PUBLISH" value="1" />
                        }

                        <div class="tab-content custom-scroll">
                            <fieldset>
                                <div class="row">
                                    <section class="col col-lg-6">
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-sm-3">
                                                    <label for="TRICHYEU" class="lbl control-label">
                                                        Trích yếu <span class="text-danger">*</span>
                                                    </label>
                                                </div>
                                                <div class="col-sm-9">
                                                    <textarea name="TRICHYEU" id="TRICHYEU" class="required form-control" style="resize: none" autofocus="" autocomplete="false">@(Model.VanBan.ID > 0 ? Model.VanBan.TRICHYEU : "Về việc:")</textarea>
                                                    <div class="note-error">
                                                        <span class="error mes-note-error"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-sm-3">
                                                    <label for="THONGTIN_LOAI_ID" class="lbl control-label">
                                                        Loại văn bản&nbsp;<span class="text-danger">*</span>
                                                    </label>
                                                </div>
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("THONGTIN_LOAI_ID", Model.GroupDocTypes, "--- Chọn loại văn bản ---", new { @class = "requiredDropDownList width-100 selectpicker1", @data_actions_box = "true", @data_live_search = "true" })
                                                    <div class="note-error">
                                                        <span class="error mes-note-error"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-sm-3">
                                                    <label for="DOKHAN_ID" class="lbl control-label">
                                                        Độ mật <span class="text-danger">*</span>
                                                    </label>
                                                </div>
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("DOKHAN_ID", Model.LstDoKhan, "--- Chọn độ mật ---", new { @class = "width-100 requiredDropDownList selectpicker1", @data_actions_box = "true", @data_live_search = "true" })
                                                    <div class="note-error">
                                                        <span class="error mes-note-error"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-sm-3">
                                                    <label for="DOKHAN_ID" class="lbl control-label">
                                                        Độ khẩn<span class="text-danger">*</span>
                                                    </label>
                                                </div>
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("DOUUTIEN_ID", Model.LstDoUuTien, "--- Chọn độ khẩn ---", new { @class = "width-100 requiredDropDownList selectpicker1", @data_actions_box = "true", @data_live_search = "true" })
                                                    <div class="note-error">
                                                        <span class="error mes-note-error"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-sm-3">
                                                    <label for="TACGIA_ID" class="lbl control-label">
                                                        Tác giả văn bản&nbsp;<span class="text-danger">*</span>
                                                    </label>
                                                </div>
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("TACGIA_ID", Model.GroupDocAuthors, "--- Chọn tác giả ---", new { @class = "width-100 requiredDropDownList selectpicker1", @data_actions_box = "true", @data_live_search = "true" })
                                                    <div class="note-error">
                                                        <span class="error mes-note-error"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-sm-3">
                                                    <label for="TENNGUOIKY" class="lbl control-label">
                                                        Người ký
                                                    </label>
                                                </div>
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("TENNGUOIKY", Model.LstNguoiKyVanBan, "--- Chọn người ký ---", new { @class = "width-100 selectpicker1", @data_actions_box = "true", @data_live_search = "true" })
                                                    <div class="note-error">
                                                        <span class="error mes-note-error"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-sm-3">
                                                    <label for="CHUCVUNGUOIKY" class="lbl control-label">
                                                        Chức vụ
                                                    </label>
                                                </div>
                                                <div class="col-sm-9">
                                                    <input type="text" id="CHUCVUNGUOIKY" value="@Model.VanBan.CHUCVU" name="CHUCVUNGUOIKY" class="form-control" />
                                                    <div class="note-error">
                                                        <span class="error mes-note-error"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-sm-3">
                                                    <label for="MA_DANGKY" class="lbl control-label">
                                                        Mã đăng ký&nbsp;
                                                    </label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input type="text" class="form-control" name="MA_DANGKY" id="MA_DANGKY" value="@Model.VanBan.MA_DANGKY" />
                                                    <div class="note-error">
                                                        <span class="error mes-note-error"></span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label for="LOAI_COQUAN_ID" class="lbl control-label">
                                                        PL cơ quan&nbsp;
                                                    </label>
                                                </div>
                                                <div class="col-sm-3">
                                                    @Html.DropDownList("LOAI_COQUAN_ID", Model.GroupDeptTypes, "-Chọn-", new { @class = "width-100 selectpicker1", @data_actions_box = "true", @data_live_search = "true" })
                                                    <div class="note-error">
                                                        <span class="error mes-note-error"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-sm-3">
                                                    <label for="LOAIVANBAN_ID" class="lbl control-label">
                                                        Thể loại văn bản
                                                    </label>
                                                </div>
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("LOAIVANBAN_ID", Model.LstLoaiVanBan, "--- Chọn Thể loại văn bản ---", new { @class = "width-100 selectpicker1", @data_actions_box = "true", @data_live_search = "true" })
                                                    <div class="note-error">
                                                        <span class="error mes-note-error"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-sm-3">
                                                    <label for="LINHVUCVANBAN_ID" class="lbl control-label">
                                                        Lĩnh vực
                                                    </label>
                                                </div>
                                                <div class="col-sm-9">
                                                    @Html.DropDownList("LINHVUCVANBAN_ID", Model.LstLinhVucVanBan, "--- Chọn lĩnh vực ---", new { @class = "width-100 selectpicker1", @data_actions_box = "true", @data_live_search = "true" })
                                                    <div class="note-error">
                                                        <span class="error mes-note-error"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-sm-3">
                                                    <label for="NOIDUNGVANBAN" class="lbl control-label">
                                                        Nội dung
                                                    </label>
                                                </div>
                                                <div class="col-sm-9">
                                                    <input type="hidden" name="NOIDUNG" id="NOIDUNG" />
                                                    <textarea name="NOIDUNGVANBAN" id="NOIDUNGVANBAN" class="form-control" style="resize: none;">@Model.VanBan.NOIDUNG</textarea>
                                                    <div class="note-error">
                                                        <span class="error mes-note-error" id="NOIDUNG_ERROR"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>

                                    <section class="col col-lg-6">
                                        <!--THÔNG TIN VĂN BẢN ĐẾN-->
                                        @if (Model.VanBanDen != null)
                                        {
                                            <input type="hidden" name="VANBANDENLIENQUAN" value="@Model.VanBanDen.ID" />

                                            <div class="jarviswidget" style="padding: 0px;border: none">
                                                <header role="heading">
                                                    <span class="widget-icon"><i class="fa fa-paperclip txt-color-red"></i></span>
                                                    <h2 class="hidden-xs hidden-sm" style="text-transform: uppercase">
                                                        Văn bản đến liên quan
                                                    </h2>
                                                    <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                                                </header>

                                                <table class="hinet-table table table-bordered table-hover" width="100%" style="margin-bottom: 0px;">
                                                    <thead>
                                                        <tr>
                                                            <th>Số hiệu</th>
                                                            <th>Trích yếu</th>
                                                            <th>Người ký</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <a href="/HSCV_VANBANDENArea/HSCV_VANBANDEN/DetailVanBanDen?id=@Model.VanBanDen.ID" target="_blank">
                                                                    @Model.VanBanDen.SOHIEU
                                                                </a>
                                                            </td>
                                                            <td>@Model.VanBanDen.TRICHYEU</td>
                                                            <td>
                                                                @Model.VanBanDen.NGUOIKY
                                                                <br />
                                                                <i>@Model.VanBanDen.CHUCVU</i>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        }

                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label class="lbl control-label">
                                                    Gửi tin nhắn SMS:
                                                </label>
                                            </div>
                                            <div class="col-sm-8">
                                                <label class="radio-inline">
                                                    <input type="radio" name="CAN_SEND_SMS" @(Model.VanBan.CAN_SEND_SMS == true ? "checked='checked'" : "") value="1">Có
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="CAN_SEND_SMS" @((Model.VanBan.CAN_SEND_SMS != true) ? "checked='checked'" : "") value="0">Không
                                                </label>
                                            </div>
                                        </div>

                                        @if (Model.IsInternal != true)
                                        {
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label for="" class="lbl control-label">Ký duyệt văn bản:</label>
                                                </div>
                                                <div class="col-sm-8">
                                                    <label class="radio-inline">
                                                        <input type="radio" name="HAS_SIGNED" @(true == Model.VanBan.HAS_SIGNED ? "checked='checked'" : "") value="1">Có ký
                                                    </label>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="HAS_SIGNED" @((false == Model.VanBan.HAS_SIGNED || !Model.VanBan.HAS_SIGNED.HasValue) ? "checked='checked'" : "") value="2">Không ký
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="row">&nbsp;</div>

                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-sm-4">
                                                        <label for="" class="lbl control-label">
                                                            Phòng ban/ đơn vị nhận
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <a class="btn btn-default" id="btn--select-department">
                                                            <i class="fa fa-group"></i>&nbsp;Chọn đơn vị nhận
                                                        </a>
                                                        <div class="note-error">
                                                            <span class="error mes-note-error" id="NOIDUNG_ERROR"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-12" id="block--chosen-depts">
                                                    @if (Model.ListDonVi.Any())
                                                    {
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Đơn vị/ phòng ban nhận văn bản</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @{
                                                                    foreach (var item in Model.ListDonVi)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                <input type="hidden" name="department-choose" value="@item.ID">@item.CODE - @item.NAME
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                    }
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-sm-4">
                                                        <label for="" class="lbl control-label">
                                                            Người nhận đích danh văn bản
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <a class="btn btn-default" id="button--choose-users">
                                                            <i class="fa fa-users"></i>&nbsp;Chọn người nhận
                                                        </a>

                                                        <div class="note-error">
                                                            <span class="error mes-note-error" id="NOIDUNG_ERROR"></span>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12" id="block--recipients">
                                                        @{
                                                            if (Model.LstReceiveDirectly.Any())
                                                            {
                                                                <table class="table table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>
                                                                                NGƯỜI NHẬN ĐÍCH DANH
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @{
                                                                            foreach (var item in Model.LstReceiveDirectly)
                                                                            {
                                                                                <tr>
                                                                                    <td>
                                                                                        <input type="hidden" name="USERS_RECEIVE_SPECIAL" value="@item.Value">@item.Text
                                                                                    </td>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-sm-4">
                                                        <label for="" class="lbl control-label">
                                                            Đơn vị nhận bên ngoài:
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <textarea name="NOI_NHAN" id="NOI_NHAN" class="form-control" style="resize: none;">@Model.VanBan.NOI_NHAN</textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">&nbsp;</div>
                                        }
                                        else
                                        {
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-sm-3">
                                                        <label for="" class="lbl control-label">
                                                            Người nhận&nbsp;<span class="text-danger">*</span>
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        @Html.DropDownList("USERS_RECEIVE_INTERNAL", Model.GroupUsersReceiveInternal, new { @class = "select2 requiredDropDownList", @data_actions_box = "true", @data_live_search = "true", multiple = "true" })
                                                        <div class="note-error">
                                                            <span class="error mes-note-error"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">&nbsp;</div>
                                        }
                                        <div class="row">
                                            @{Html.RenderPartial("../Common/UploadFile", Model.ListTaiLieu);}
                                        </div>
                                    </section>
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-actions center">
                            <center>
                                <input type="button" value="Lưu văn bản" id="btnSave" class="btn btn-primary btn-sm" />
                                <input type="button" value="Hủy bỏ" onclick="location.href='@Url.Action("Index")'" class="btn btn-default btn-sm" />
                            </center>
                        </div>

                        <!--MODAL TÌM KIẾM NGƯỜI NHẬN VĂN BẢN-->
                        <div class="modal" id="modal--recipients" role="dialog">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal chọn đơn vị-->
<div id="modal-choose-department" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">CHỌN PHÒNG BAN/ ĐƠN VỊ</h4>
            </div>
            <div class="modal-body" style="max-height: 500px; overflow-y: scroll" id="TreeChonDonViPartial">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btn--save-chosen-department">Lưu</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<script>
    function configControls() {
        /**
     * mở hộp thoại tìm kiếm phòng ban
     */
        $('#btn--select-department').on('click', function () {
            if ($('#modal-choose-department .modal-body').html().trim() != '') {
                $("#modal-choose-department").modal('show');
            } else {
                var callBack = function (result) {
                    $('#modal-choose-department .modal-body').html(result);
                    $("#modal-choose-department").modal('show');
                }
                AjaxCall('/HSVanBanDiArea/HSVanBanDi/GetTreeDonVi', 'post', {}, callBack);
            }
        });

        /**
         * lưu thông tin phòng đã chọn
         */
        $('#btn--save-chosen-department').on('click', function () {
            $("#modal-choose-department").modal("hide");
            var checkboxes = $("#TreeChonDonViPartial input[type=checkbox]:checked.dept-doji");

            if (checkboxes.length > 0) {
                $("#block--chosen-depts").html("");
                return;
            }
            var html = '<table class="table table-bordered"><thead><tr><th>Đơn vị/ phòng ban nhận văn bản</th></tr></thead><tbody>';
            for (var i = 0; i < checkboxes.length; i++) {
                html += '<tr><td>';
                html += '<input type="hidden" name="department-choose" value="' + checkboxes[i]["value"] + '" />';
                html += $("#" + checkboxes[i]["id"]).parent().find('.input-Name').html() + '</td></tr>';
            }
            html += '</tbody></table>';
            $("#block--chosen-depts").html(html);
        });

        //events
        $('#THOIHAN_HOIBAO_CHECK').on('change', function (event) {
            if ($(this).is(':checked')) {
                $('#THOIHAN_HOIBAO').removeAttr('disabled');
                $('#THOIHAN_HOIBAO').addClass('validateDate');
            } else {
                $('#THOIHAN_HOIBAO').val($emptyStr);
                $('#THOIHAN_HOIBAO').attr('disabled', 'disabled');
                $('#THOIHAN_HOIBAO').removeClass('validateDate');
            }
        });

        $('#THOIHAN_XULY_CHECK').on('change', function (event) {
            if ($(this).is(':checked')) {
                $('#THOIHAN_XULY').removeAttr('disabled');
                $('#THOIHAN_XULY').addClass('validateDate');
            } else {
                $('#THOIHAN_XULY').val($emptyStr);
                $('#THOIHAN_XULY').attr('disabled', 'disabled');
                $('#THOIHAN_XULY').removeClass('validateDate');

            }
        });

        $("#TENNGUOIKY").on('change', function () {
            var callBack = function (result) {
                $("#CHUCVUNGUOIKY").val(result);
            }
            AjaxCall('/hsvanbandiarea/hsvanbandi/GetChucVuNguoiKy', 'post', { id: $(this).val() }, callBack);
        });

        /**
         * sự kiện mở modal chọn người dùng
         */
        if ($('#button--choose-users').length > 0) {
            $('#button--choose-users').on('click', function () {
                if ($('#modal--recipients').html().trim() != '') {
                    $('#modal--recipients').modal('show');
                } else {
                    var callBack = function (result) {
                        $('#modal--recipients').html(result);
                        $('#modal--recipients').modal('show');
                    }
                    AjaxCall('/Common/GetRecipientOfDocument', 'post', {}, callBack);
                }
            })
        }

        //plugins
        $(".selectpicker1").selectpicker();
        $('select.select2').select2();
        $(".datepicker1").datepicker({
            dateFormat: 'dd/mm/yy',
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            changeMonth: true,
            changeYear: true,
            yearRange: "-20:+20"
        });

        CKEDITOR.replace('NOIDUNGVANBAN', {  // Define the toolbar groups as it is a more accessible solution.
            toolbarGroups: [
                { "name": "basicstyles", "groups": ["basicstyles"] },
                { "name": "links", "groups": ["links"] },
                { "name": "paragraph", "groups": ["list", "blocks"] },
                { "name": "document", "groups": ["mode"] },
                { "name": "insert", "groups": ["insert"] },
                { "name": "styles", "groups": ["styles"] },
                { "name": "about", "groups": ["about"] }
            ],
            // Remove the redundant buttons from toolbar groups defined above.
            removeButtons: 'Underline,Strike,Subscript,Superscript,Anchor,Styles,Specialchar'
        });

        $("#btnSave").click(function () {
            var isValid = onValidateSubmit();
            if (isValid) {
                $("#form--update-vanbandi").submit();
            }
        });
    }

    var $emptyStr = "";

    function onValidateSubmit() {
        var err = 0;
        var require = requiredFieldForFormId("form--update-vanbandi");
        if (!require) {
            err++;
        }
        var IsDate = ValidateFieldDate("form--update-vanbandi");
        if (!IsDate) {
            err++;
        }
        var requireDropdownlist = RequireDropDownlist("form--update-vanbandi");
        if (!requireDropdownlist) {
            err++;
        }

        var IsDateExist = ValidateFieldDateExist("form--update-vanbandi");
        if (!IsDateExist) {
            err++;
        }

        if (err == 0) {
            return true;
        } else {
            NotiError("Có lỗi. Vui lòng kiểm tra lại");
            return false;
        }
    }

    $(document).ready(function () {
        loadScript("/ckeditor/ckeditor.js", function () {
            loadScript("/Content/select/js/bootstrap-select.js", configControls);
        });
    })

    $(document).ajaxSuccess(function (event, jqxhr, settings, thrownError) {
        $(".loading-ajax").hide();
    });

    $(document).ajaxStart(function () {
        $(".loading-ajax").html("Đang xử lý");
        $(".loading-ajax").show();
    });
    $(document).ajaxStop(function () {
        $(".loading-ajax").hide();
    });
</script>
