@model Web.Areas.HSVanBanDiArea.Models.VanBanDiVM
<style>
    .row-block {
        margin: 5px 0px;
    }

    .txt-label {
        padding-top: 7px;
    }

    .width100 {
        width: 100% !important;
    }
</style>
<div id="collapseDiv" class="panel-collapse collapse" aria-expanded="false" role="tabpanel">
    <div class="well">
        @using (Ajax.BeginForm("searchData", "VanBanChuaXuLy",
            new AjaxOptions()
            {
                HttpMethod = "POST",
                OnFailure = "failure1",
                OnSuccess = "searchSuccess",
            }, new { }))
        {
            @Html.AntiForgeryToken()
            <div class="row row-block">

                <div class="col-md-12">
                    <div class="col-md-2 txt-label">
                        <label class="control-label" for="NGAYTAO">
                            Ngày tạo:
                        </label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" name="NGAYTAO_TU" id="NGAYTAO_TUNGAY" class="form-control datepicker1" placeholder="Từ ngày" autocomplete="off" />
                    </div>

                    <div class="col-md-2">
                        <input type="text" name="NGAYTAO_DEN" id="NGAYTAO_DENNGAY" class="form-control datepicker1" placeholder="Đến ngày" autocomplete="off" />
                    </div>
                    <div class="col-md-2 txt-label control-label">Trích yếu:</div>
                    <div class="col-md-4">
                        <input name="TRICHYEU" class="form-control" />
                    </div>
                </div>
                <div class="col-md-12">&nbsp;</div>
                <div class="col-md-12">
                    <div class="col-md-2 txt-label control-label">Thể loại:</div>
                    <div class="col-md-4">
                        <select name="LOAIVANBAN_ID" class="select2">
                            <option value="">Lựa chọn</option>
                            @{
                                foreach (var item in Model.LstLoaiVanBan)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-2 txt-label control-label    ">Lĩnh vực:</div>
                    <div class="col-md-4">
                        <select name="LINHVUCVANBAN_ID" class="select2">
                            <option value="">Lựa chọn</option>
                            @{
                                foreach (var item in Model.LstLinhVucVanBan)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-12">&nbsp;</div>
                <div class="col-md-12">
                    <div class="col-md-2 txt-label control-label">Độ mật:</div>
                    <div class="col-md-4">
                        <select name="DOKHAN_ID" class="select2">
                            <option value="">Lựa chọn</option>
                            @{
                                foreach (var item in Model.LstDoKhan)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-2 txt-label control-label">Độ khẩn:</div>
                    <div class="col-md-4">
                        <select name="DOMAT_ID" class="select2">
                            <option value="">Lựa chọn</option>
                            @{
            foreach (var item in Model.LstDoUuTien)
            {
                    <option value="@item.Value">@item.Text</option>
            }
                            }
                        </select>
                    </div>

                </div>
                <div class="col-md-12">&nbsp;</div>
                <div class="col-md-12 center" style=" margin-top:20px;">
                    <button id="btnSearch" type="submit" class="btn btn-labeled btn-primary">
                        <span class="btn-label">
                            <i class="glyphicon glyphicon-search"></i>
                        </span>
                        Tìm kiếm
                    </button>
                    <a aria-expanded="false" href="#collapseDiv" data-toggle="collapse" role="button" class="btn btn-labeled btn-danger">
                        <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>
                        Đóng
                    </a>
                </div>
                <input type="hidden" name="DONVI_ID" id="DONVI_ID" />
            </div>
        }
    </div>
</div>
<script>
    $("#btnSearch").click(function () {
        $(".hinet-table tbody").html("");
        $(".hinet-table tfoot").html("");
        return true;
    });
    function failure1(data) {
        console.log(data);
    }
    function searchSuccess(rs) {
        $("#tbl-vanbanden").hinetTable("data", {
            pageIndex: 1,
            pagecount: rs.TotalPage,
            recordCount: rs.Count,
            listItem: rs.ListItem,
        });
    }
    function pagefunctionSearch() {
        $("#collapseDiv .select2").select2();
    }
    $(".datepicker1").datepicker({
        dateFormat: 'dd/mm/yy',
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>',
        changeMonth: true,
        changeYear: true,
        yearRange: "-20:+20"
    });

    $(document).ready(function () {
        loadScript("/Scripts/autoNumeric.min.js", function () {
            loadScript("/js/plugin/select2/select2.min.js", function () {
                loadScript("/Scripts/jquery.unobtrusive-ajax.min.js", pagefunctionSearch)
            });
        });
    })
</script>
<style>
    .select2 {
        width: 100%;
    }
</style>
