@using Web.Areas.CongViecArea.Models
@using Web.Models
@model CongViecViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var display = "display:none";
}
<style>
    .red {
        color: red;
    }
</style>
<link rel="stylesheet" href="/Content/select/css/bootstrap-select.css">
<div id="ribbon" style=" background-color:#57889c">
    <!-- breadcrumb -->
    <div class="col-md-6 col-sm-6">
        <ol class="breadcrumb"></ol>
    </div>
    <!-- end breadcrumb -->
    <div class="col-md-6 col-sm-6">
        <a class="btn btn-default pull-right" href="@Url.Action("Index")">
            <i class="fa fa-arrow-left"></i> <span>Quay lại</span>
        </a>
    </div>
</div>
<div id="widget-grid">
    <article class="col-sm-12 col-md-12">
        <div class="jarviswidget jarviswidget-sortable">
            <header role="heading">
                <h2>@(Model.CongViec.ID == 0 ? "Tạo mới công việc cá nhân" : "Cập nhật công việc cá nhân" )</h2>
            </header>
            <div role="content">
                <div class="widget-body">
                    @using (Html.BeginForm("SaveCongViec", "QuanLyCongViec", FormMethod.Post,
new { id = "workform", enctype = "multipart/form-data", style = "padding:30px", @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="ID" value="@Model.CongViec.ID" />
                        <input type="hidden" name="NGUOIXULYCHINH_ID" value="@Model.CongViec.NGUOIXULYCHINH_ID" />
                        <input type="hidden" name="RELATEDTYPE" value="@Model.TYPE" />
                        <input type="hidden" name="RELATEDVANBAN" value="@Model.IdVanBanLienQuan" />
                        if (Model.TYPE == 1)
                        {
                            if (Model.VanBanDenLienQuan != null)
                            {
                                <div class="form-group">
                                    <label class="col-md-2 control-label">
                                        Văn bản đến liên quan
                                    </label>
                                    <div class="col-md-10">
                                        <table class="hinet-table table table-bordered table-hover" width="100%" style="margin-bottom: 0px;">
                                            <thead>
                                                <tr>
                                                    <th>Số hiệu</th>
                                                    <th>Trích yếu</th>
                                                    <th>Người ký</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <a href="/HSCV_VANBANDENArea/HSCV_VANBANDEN/DetailVanBanDen?id=@Model.IdVanBanLienQuan" target="_blank">
                                                            @Model.VanBanDenLienQuan.SOHIEU
                                                        </a>
                                                    </td>
                                                    <td>@Model.VanBanDenLienQuan.TRICHYEU</td>
                                                    <td>
                                                        @Model.VanBanDenLienQuan.NGUOIKY
                                                        <br />
                                                        <i>@Model.VanBanDenLienQuan.CHUCVU</i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            }
                        }
                        else if (Model.TYPE == 2)
                        {
                            if (Model.VanBanDiLienQuan != null)
                            {
                                <div class="form-group">
                                    <label class="col-md-2 control-label">
                                        Văn bản đi liên quan
                                    </label>
                                    <div class="col-md-10">
                                        <table class="hinet-table table table-bordered table-hover" width="100%" style="margin-bottom: 0px;">
                                            <thead>
                                                <tr>
                                                    <th>Trích yếu</th>
                                                    <th>Độ khẩn</th>
                                                    <th>Độ ưu tiên</th>
                                                    <th>Người ký</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <a href="/HSVanBanDiArea/HSVanBanDi/DetailVanBan/@Model.IdVanBanLienQuan" target="_blank">
                                                            @Model.VanBanDiLienQuan.TRICHYEU
                                                        </a>
                                                    </td>
                                                    <td>@Model.VanBanDiLienQuan.TEN_DOKHAN</td>
                                                    <td>
                                                        @Model.VanBanDiLienQuan.TEN_DOUUTIEN                                                        
                                                    </td>
                                                    <th>
                                                        @Model.VanBanDiLienQuan.TEN_NGUOIKY
                                                        <br />
                                                        <i>@Model.VanBanDiLienQuan.CHUCVU</i>
                                                    </th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            }
                        }
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                Tên công việc<span class="red">*</span>
                            </label>
                            <div class="col-md-10">
                                <input value="@Model.CongViec.TENCONGVIEC" class="form-control required" placeholder="Tên công việc" type="text" id="TENCONGVIEC" name="TENCONGVIEC">
                                <div class="note-error">
                                    <span class="red error mes-note-error" id="TENCONGVIEC_ERROR"></span>
                                </div>
                                @*Dành cho công việc cá nhân*@
                                <input type="hidden" name="ISVIECCANHAN" value="1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                Độ ưu tiên
                            </label>
                            <div class="col-md-4">
                                @Html.DropDownList("DOUU_TIEN", Model.ListDoUuTien, new { @class = "selectpicker1" })
                            </div>
                            <label class="col-md-2 control-label">
                                Mức độ quan trọng
                            </label>
                            <div class="col-md-4">
                                @Html.DropDownList("DOKHAN", Model.ListDoKhan, new { @class = "selectpicker1" })
                            </div>
                        </div>
                        if (!string.IsNullOrEmpty(Model.ROLE) && (Model.CongViec.ID == 0 ||(Model.CongViec.ID > 0 && Model.CongViec.NGUOIGIAOVIEC_ID != Model.CongViec.NGUOITAO)))
                        {
                            display = "display:display";
                            <div class="form-group">
                                <label class="col-md-2 control-label">
                                    Người giao việc
                                </label>
                                <div class="col-md-4">
                                    <input value="@Model.NguoiDung.ID" name="NGUOIGIAOVIEC_ID" id="NGUOIGIAOVIEC_ID" type="hidden" />
                                    <input disabled placeholder="Người giao việc" type="text" id="NGUOIGIAOVIEC_TEXT" value="@Model.NguoiDung.HOTEN" class="form-control" />
                                    <div class="note-error">
                                        <span class="error" id="NGUOIDUOC_CHIASE_ERROR"></span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <ul class="list-inline" style="margin-left:0px;margin-top:7px">
                                        <li class="list-inline-item text-success" id="NGUOIGIAOVIEC_CHOOSE" style="cursor:pointer">Chọn</li>
                                        <li class="list-inline-item">|</li>
                                        <li class="list-inline-item" id="NGUOIGIAOVIEC_REMOVE" style="cursor:pointer">Xóa</li>
                                    </ul>
                                </div>
                            </div>
                        }
                        <div class="form-group date-job" style="@display">
                            <label class="col-md-2 control-label">
                                Ngày nhận việc
                                @*<span class="red">*</span>*@
                            </label>
                            <div class="col-md-4">
                                <input value="@(Model.CongViec.NGAY_NHANVIEC.HasValue ? Model.CongViec.NGAY_NHANVIEC.Value.ToString("dd/MM/yyyy") : "")" id="NGAYBATDAU" class="form-control" placeholder="Ngày nhận việc" type="text" name="NGAYBATDAU">
                                <div class="note-error">
                                    <span id="NGAYBATDAU_ERROR" class="red error mes-note-error"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                Ngày hoàn thành theo mong muốn<span class="red">*</span>
                            </label>
                            <div class="col-md-4">
                                <input value="@(Model.CongViec.NGAYHOANTHANH_THEOMONGMUON.HasValue ? Model.CongViec.NGAYHOANTHANH_THEOMONGMUON.Value.ToString("dd/MM/yyyy") : "")" class="form-control required" placeholder="Ngày hoàn thành theo mong muốn" type="text" name="NGAYKETTHUC" id="NGAYKETTHUC">
                                <div class="note-error">
                                    <span class="red error mes-note-error" id="NGAYKETTHUC_ERROR"></span>
                                </div>
                            </div>
                            <label class="col-md-2 control-label">
                                Yêu cầu lập kế hoạch
                            </label>
                            <div class="col-md-4">
                                <label class="checkbox-inline" style="padding: 0px">
                                    <input @((true == Model.CongViec.IS_HASPLAN) || !Model.CongViec.IS_HASPLAN.HasValue ? "checked='checked'" : "") type="radio" class="radio radio-inline" value="1" name="IS_HASPLAN">
                                    Có lập
                                </label>
                                <label class="checkbox-inline" style="padding: 0px">
                                    <input @(false == Model.CongViec.IS_HASPLAN ? "checked='checked'" : "") type="radio" class="radio radio-inline" value="2" name="IS_HASPLAN">
                                    Không lập
                                </label>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                Nhắc việc trước
                            </label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input value="@Model.CongViec.SONGAYNHACTRUOCHAN" class="form-control" id="append" type="text" name="SONGAYNHACTRUOCHAN">
                                    <span class="input-group-addon">(ngày)</span>
                                </div>
                            </div>
                            <label class="col-md-2 control-label">
                                Nhận thông báo
                            </label>
                            <div class="col-md-4">
                                <label class="checkbox-inline">
                                    <input @(true == Model.CongViec.IS_EMAIL ? "checked='checked'" : "") type="checkbox" class="checkbox style-0" value="1" name="IS_EMAIL">
                                    <span>Qua email</span>
                                </label>
                                <label class="checkbox-inline">
                                    <input @(true == Model.CongViec.IS_SMS ? "checked='checked'" : "") type="checkbox" class="checkbox style-0" value="1" name="IS_SMS">
                                    <span>Tin nhắn</span>
                                </label>
                                <label class="checkbox-inline">
                                    <input @(true == Model.CongViec.IS_POPUP ? "checked='checked'" : "") type="checkbox" class="checkbox style-0" value="1" name="IS_POPUP">
                                    <span>Tin thông báo</span>
                                </label>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                Nội dung công việc
                            </label>
                            <div class="col-md-10">
                                <input type="hidden" name="NOIDUNGCONGVIEC" id="NOIDUNGCONGVIEC_HIDDEN" />
                                <textarea style="display:none" class="form-control" type="text" id="NOIDUNGCONGVIEC" name="">@Model.CongViec.NOIDUNGCONGVIEC</textarea>
                                <div class="note-error">
                                    <span class="error mes-note-error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                Mục tiêu công việc/ sản phẩm đạt được
                            </label>
                            <div class="col-md-10">
                                <input type="hidden" name="MUCTIEU_CONGVIEC" id="MUCTIEU_CONGVIEC_HIDDEN" />
                                <textarea class="form-control" type="text" id="MUCTIEU_CONGVIEC" name="">@Model.CongViec.MUCTIEU_CONGVIEC</textarea>
                                <div class="note-error">
                                    <span class="error mes-note-error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                Tài liệu đính kèm
                            </label>
                            <div class="col-md-10">
                                @{Html.RenderPartial("../Common/UploadFile", Model.ListTaiLieu);}
                            </div>
                        </div>
                                    
                        <div class="form-group" style="text-align:center">
                            <button type="button" class="btn btn-success" id="btnSave" onclick="saveForm()">Lưu lại</button>
                            <button class="btn btn-default" type="button" onclick="location.href='@Url.Action("Index")'">Quay lại</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </article>
</div>
@{
    ChonNguoiDungModel model_one = new ChonNguoiDungModel();
    model_one.ROLE = Model.LIST_ROLE;
    model_one.PHONGBAN_ID = 0;
    model_one.IS_MULTICHOICE = 0;
    model_one.TEXT_ID = "NGUOIGIAOVIEC_TEXT";
    model_one.VALUE_ID = "NGUOIGIAOVIEC_ID";
    model_one.ID_CLICK = "NGUOIGIAOVIEC_CHOOSE";
    model_one.IS_MULTICHOICE = 0;
    model_one.INDEX = 0;
    model_one.CALLBACK_FUNCTION = "ChangePerson";
    model_one.TITLE = "Lựa chọn người giao việc";
    Html.RenderPartial("../Common/_ChonNguoiDungV2", model_one);
}
<script>
    $("#NGAYBATDAU").datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true, yearRange: "-10:+20",
        showWeek: false, weekHeader: "Tuần",
        language: 'vi',
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>',
        onClose: function (date) {
            $("#NGAYKETTHUC").datepicker('option', 'minDate', date);
        }
    });
    $("#NGAYKETTHUC").datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true, yearRange: "-10:+20",
        showWeek: false, weekHeader: "Tuần",
        language: 'vi',
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>',
        onClose: function (date) {
            $("#NGAYBATDAU").datepicker('option', 'maxDate', date);
        }
    });
    function ChangePerson() {
        $(".date-job").show();
    }
    $("#NGUOIGIAOVIEC_REMOVE").click(function () {
        $("#NGUOIGIAOVIEC_TEXT,#NGUOIGIAOVIEC_ID").val("");
        $(".date-job").hide();
        $("#NGAYKETTHUC").datepicker('option', 'minDate', null);
    });
    var pageFunction = function () {
        $(".selectpicker1").selectpicker();
        CKEDITOR.replace('NOIDUNGCONGVIEC', {
            height: "100px",
            toolbarGroups: [
                { "name": "basicstyles", "groups": ["basicstyles"] },
                { "name": "links", "groups": ["links"] },
                { "name": "paragraph", "groups": ["list", "blocks"] },
                { "name": "document", "groups": ["mode"] },
                { "name": "insert", "groups": ["insert"] },
                { "name": "styles", "groups": ["styles"] },
                { "name": "about", "groups": ["about"] }
            ],
            removeButtons: 'Underline,Strike,Subscript,Superscript,Anchor,Styles,Specialchar'
        });
        CKEDITOR.replace('MUCTIEU_CONGVIEC', {
            height: "100px",
            toolbarGroups: [
                { "name": "basicstyles", "groups": ["basicstyles"] },
                { "name": "links", "groups": ["links"] },
                { "name": "paragraph", "groups": ["list", "blocks"] },
                { "name": "document", "groups": ["mode"] },
                { "name": "insert", "groups": ["insert"] },
                { "name": "styles", "groups": ["styles"] },
                { "name": "about", "groups": ["about"] }
            ],
            removeButtons: 'Underline,Strike,Subscript,Superscript,Anchor,Styles,Specialchar',
        });
    }
    $(document).ready(function () {
        loadScript("/ckeditor/ckeditor.js", function () {
            loadScript("/Content/select/js/bootstrap-select.js", pageFunction);
        });
    })
    function saveForm() {
        var checkRequired = RequireForm("workform");
        if (checkRequired == false) {
            NotiError("Kiểm tra lại các thông tin cần nhập");
        } else {
            $("#NOIDUNGCONGVIEC_HIDDEN").val(CKEDITOR.instances['NOIDUNGCONGVIEC'].getData());
            $("#MUCTIEU_CONGVIEC_HIDDEN").val(CKEDITOR.instances['MUCTIEU_CONGVIEC'].getData());
            $("#workform").submit();
        }
        return false;
    }
    function RequireForm(formID) {
        var check_err = true;
        var item = $("#" + formID + " .required");
        item.each(function () {
            var errText = $(this).next().find(".error");
            if ($(this).is(":visible")) {
                if ($(this).val() == null || $(this).val().length == 0) {
                    errText.html("Bạn phải nhập thông tin này");
                    errText.css('display', 'inline');
                    check_err = false;
                } else {
                    errText.css('display', 'none');
                }
            }
        })
        return check_err;
    }
    $(function () {
        $("form").ajaxForm({
            beforeSend: function () {
                $(".loading-ajax").show();
                $("#btnSave").attr("disabled");
            },
            uploadProgress: function () {
            },
            success: function (data) {
                $(".loading-ajax").hide();
                if (data.Type == "SUCCESS") {
                    NotiSuccess(data.Message);
                    location.href = '/QuanLyCongViec/QuanLyCongViec/Detail/' + data.ID;
                } else if (data.Type == "ERROR") {
                    NotiError(data.Message);
                } else {
                    var error = data.Message;
                    var size = error.length;
                    for (var i = 0; i < size; i++) {
                        $("#" + error[i].Field + "_ERROR").html(error[i].Message);
                    }
                }
            },
            complete: function () {
            }, error: function (data) {
                NotiError(data);
                console.log(data);
            }
        });
    });
    $(document).ready(function () {
        loadScript("/Scripts/jquery.unobtrusive-ajax.js", function () {
            loadScript("/Scripts/autoNumeric.min.js", function () {
                loadScript("/js/plugin/select2/select2.min.js", function () {
                });
            });
        });
    });
    $(document).on("blur", ".form-control", function () {
        if ($(this).val().trim() != "") {
            var name = $(this).attr("name");
            $("#" + name + "_ERROR").html("");
        }
    });
    $(document).on("change", "select", function () {
        if ($(this).val().trim() != "") {
            var name = $(this).attr("name");
            $("#" + name + "_ERROR").html("");
        }
    });
</script>