@using Web.Areas.CCTCTHANHPHANArea.Models;
@model UserDeptViewModel
@using Newtonsoft.Json;
@{
    /**/

    var groupDeptUserData = Html.Raw(JsonConvert.SerializeObject(Model.GroupUsers.ListItem));
}
<div class="modal-dialog" style="width:1000px;">

    <!--hidden field-->
    <input type="hidden" id="modal--dept-usertotalPage" value="@Model.GroupUsers.TotalPage" />
    <input type="hidden" id="modal--dept-user-totalRecord" value="@Model.GroupUsers.Count" />
    <input type="hidden" id="modal--dept-id" value="@Model.EntityDept.ID" />
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="center">
                <h4 class="modal-title">
                    DANH SÁCH NHÂN VIÊN - @Model.EntityDept.NAME
                </h4>
            </div>
        </div>
        <div class="modal-body">
            @using (Ajax.BeginForm("SearchDataDeptUsers", "CCTCTHANHPHAN", new { area = "CCTCTHANHPHANArea" },
                new AjaxOptions()
                {
                    HttpMethod = "POST",
                    OnSuccess = "searchDeptUserSuccess",
                    OnFailure = "searchFail"
                },new { id = "form--search-dept-user"}))
            {
                <input type="hidden" value="@Model.EntityDept.ID" name="sea_DeptId" />
                <div class="well" style="overflow:hidden">
                    <div class="smart-form">
                        <div class="row ">
                            <section class="col col-md-6 ">
                                <div class="col-md-4">
                                    <label class="control-label txt-label" for="sea_HoTen">
                                        Họ tên
                                    </label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="sea_HoTen" id="sea_HoTen" class="form-control" />
                                </div>
                            </section>

                            <section class="col col-md-6 ">
                                <div class="col-md-4">
                                    <label class="control-label txt-label" for="sea_TenDangNhap">
                                        Tên đăng nhập
                                    </label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="sea_TenDangNhap" id="sea_TenDangNhap" class="form-control" />
                                </div>
                            </section>
                        </div>

                        <div class="row">
                            <section class="col col-md-6 ">
                                <div class="col-md-4">
                                    <label class="control-label txt-label" for="sea_Email">
                                        Email
                                    </label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="sea_Email" id="sea_Email" class="form-control" />
                                </div>
                            </section>

                            <section class="col col-md-6 ">
                                <div class="col-md-4">
                                    <label class="control-label txt-label" for="sea_DienThoai">
                                        Số điện thoại
                                    </label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="sea_DienThoai" id="sea_DienThoai" class="form-control" />
                                </div>
                            </section>
                        </div>

                        <div class="row">
                            <section class="col col-md-6 ">
                                <div class="col-md-4">
                                    <label class="control-label txt-label" for="sea_CHUCVU_ID">
                                        Chức vụ
                                    </label>
                                </div>
                                <div class="col-md-8">
                                    @Html.DropDownList("sea_CHUCVU_ID", Model.GroupPositions, "--- Chọn ---", new { @class = "select2" })
                                </div>
                            </section>

                            <section class="col col-md-6 ">
                                <div class="col-md-4">
                                    <label class="control-label txt-label" for="sea_Roles">
                                        Vai trò
                                    </label>
                                </div>
                                <div class="col-md-8">
                                    @Html.DropDownList("sea_Roles", Model.GroupRoles, new { @class = "select2", @multiple="multiple" })
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="col-md-12 center">
                        <button type="submit" class="btn btn-labeled btn-primary">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-search"></i>
                            </span>
                            Tìm kiếm
                        </button>
                    </div>
                </div>
            }

            <div id="tbl--dept-user" class="hntbl-cover" style="padding:10px;">
                <table class="hinet-table table table-striped table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Họ tên</th>
                            <th>Tên đăng nhập</th>
                            <th>Số điện thoại</th>
                            <th>Email</th>
                            <th>Chức vụ</th>
                            <th>Vai trò</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer center">
            <button type="button" class="btn btn-default btn-dong" data-dismiss="modal">
                Đóng
            </button>
        </div>
    </div>
</div>

<script>
    var groupDeptUserData = eval(@groupDeptUserData);

    function reloadDetpUserTable() {
        $("#tbl--dept-user").hinetTable("reload");
    }

    function searchDeptUserSuccess(result) {
        $("#tbl--dept-user").hinetTable("data", {
            pageIndex: 1,
            pagecount: result.TotalPage,
            recordCount: result.Count,
            listItem: result.ListItem,
        });
    }

    function pagingDeptUserConfig() {
        var configureDeptUserData = [
            {
                tdClass: "center",
                isSort: false,
                nameModel: "",
                isCounter: true,
                content: function (data) {
                    return "<input type='checkbox'/>"
                }
            },
            {
                isSort: true,
                nameModel: "HOTEN",
                content: function (data) {
                    return data.HOTEN;
                }
            },
            {
                isSort: true,
                nameModel: "TENDANGNHAP",
                content: function (data) {
                    return data.TENDANGNHAP;
                }
            },
            {
                isSort: true,
                nameModel: "DIENTHOAI",
                content: function (data) {
                    return data.DIENTHOAI;
                }
            },
            {
                isSort: true,
                nameModel: "EMAIL",
                content: function (data) {
                    return data.EMAIL;
                }
            },
            {
                isSort: true,
                nameModel: "ChucVu",
                content: function (data) {
                    return data.ChucVu;
                }
            },
            {
                isSort: false,
                content: function (data) {
                    return data.txtVaiTro;
                }
            }
        ];

        var getDeptUserData = function (page, sortQuery, pageSize) {
            $.ajax({
                url: '/CCTCTHANHPHANArea/CCTCTHANHPHAN/GetDataDeptUsers',
                type: 'post',
                cache: false,
                data: {
                    "deptId": $('#modal--dept-id').val(),
                    "pageIndex": page,
                    "sortQuery": sortQuery,
                    "pageSize": pageSize
                },
                success: function (data) {
                    $("#tbl--dept-user").hinetTable("data", {
                        pageSize: pageSize != -1 ? pageSize : data.Count,
                        pageIndex: page,
                        pagecount: data.TotalPage,
                        recordCount: data.Count,
                        listItem: data.ListItem,
                    });
                },
                error: function (xhr) {
                    notifyError(xhr.responseText);
                }
            });
        }
        var tblData = $("#tbl--dept-user").hinetTable("init", {
            pageSizeList: { size: [20, 50, 100, -1], label: ['20', '50', '100', 'Tất cả'] },
            pagecount: $('#modal--dept-usertotalPage').val(),
            recordCount: $('#modal--dept-user-totalRecord').val(),
            getData: getDeptUserData,
            listItem: groupDeptUserData,
            config: configureDeptUserData
        });
    }

    function generateDeptUserRoles(roles) {
        if (roles == null || roles.length === 0) {
            return "<b class='red'>N/A</b>";
        } else {
            var $container = $("<div></div>");
            var $list = $("<ul></ul>");

            var i = 0;
            while (i < roles.length) {
                var $item = $("<li><a href='javascript:void(0)' title='" + roles[i].TEN_VAITRO+"'>- " + roles[i].TEN_VAITRO + "</a></li>");
                $list.append($item);
                i++;
            }
            $container.append($list);
            return $container.html();
        }
    }

    $(document).ready(function () {
        loadScript("/Scripts/jquery.unobtrusive-ajax.min.js", function () {
            pagingDeptUserConfig();

            if ($(".select2").length > 0) {
                $(".select2").select2({
                    width: '100%'
                });
            }
        });
    });
</script>
