@using Web.Areas.QuanLyHoSoArea.Models;
@using Newtonsoft.Json;
@using System.Web.Script.Serialization;
@using PagedList.Mvc;
@using PagedList;
@model QuanLyHoSoIndexViewModel

<style>
    .hide-vb {
        display: none
    }


    tr.no-boder td {
        border: 0 !important;
    }

    .table tr td {
        border-bottom: 1px solid #eee;
    }

    .table tr th {
        font-size: 14px;
    }

    .table thead th {
        font-weight: bold;
    }

    .pagination-container {
        text-align: center;
    }

    /*.pagination > li > a, .pagination > li > span {
        border-radius: 50% !important;
    }*/
</style>
@{
    if (Model.Source.Count > 0)
    {
        <span>Hiển thị <strong>1 - @Model.Source.Count</strong> trong tổng số <strong>@Model.Source.TotalItemCount</strong> hồ sơ</span>
    }
    else
    {
        <span>Hiển thị <strong>0</strong> hồ sơ</span>
    }
}
<table class="table table-bordred table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th width="25%">
                @Ajax.ActionLink("Hồ sơ", "HoSoSorting", new
                {
                    sortExpression = ViewBag.CurrentSort == "TIEUDE desc" ? "TIEUDE asc" : "TIEUDE desc",
                    currentFilter = ViewBag.CurrentFilter,
                    pageSize = ViewBag.PageSize,
                    pageNumber = ViewBag.PageNumber

                }, new AjaxOptions
                {
                    LoadingElementId = "divProcessing",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "Get",
                    UpdateTargetId = "HoSoGrid"
                })
            </th>
            <th width="12%">

                @Ajax.ActionLink("Hồ sơ số", "HoSoSorting", new
                {
                    sortExpression = ViewBag.CurrentSort == "HOSO_SO desc" ? "HOSO_SO asc" : "HOSO_SO desc",
                    currentFilter = ViewBag.CurrentFilter,
                    pageSize = ViewBag.PageSize,
                    pageNumber = ViewBag.PageNumber

                }, new AjaxOptions
                {
                    LoadingElementId = "divProcessing",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "Get",
                    UpdateTargetId = "HoSoGrid"
                })
            </th>
            <th width="15%">
                @Ajax.ActionLink("Tên kho", "HoSoSorting", new
                {
                    sortExpression = ViewBag.CurrentSort == "TEN_KHO desc" ? "TEN_KHO asc" : "TEN_KHO desc",
                    currentFilter = ViewBag.CurrentFilter,
                    pageSize = ViewBag.PageSize,
                    pageNumber = ViewBag.PageNumber

                }, new AjaxOptions
                {
                    LoadingElementId = "divProcessing",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "Get",
                    UpdateTargetId = "HoSoGrid"
                })
            </th>
            <th width="15%">
                @Ajax.ActionLink("Tên phông", "HoSoSorting", new
                {
                    sortExpression = ViewBag.CurrentSort == "TEN_PHONG desc" ? "TEN_PHONG asc" : "TEN_PHONG desc",
                    currentFilter = ViewBag.CurrentFilter,
                    pageSize = ViewBag.PageSize,
                    pageNumber = ViewBag.PageNumber

                }, new AjaxOptions
                {
                    LoadingElementId = "divProcessing",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "Get",
                    UpdateTargetId = "HoSoGrid"
                })
            </th>
            <th width="12%">
                @Ajax.ActionLink("Mục lục số", "HoSoSorting", new
                {
                    sortExpression = ViewBag.CurrentSort == "MUCLUC_SO desc" ? "MUCLUC_SO asc" : "MUCLUC_SO desc",
                    currentFilter = ViewBag.CurrentFilter,
                    pageSize = ViewBag.PageSize,
                    pageNumber = ViewBag.PageNumber

                }, new AjaxOptions
                {
                    LoadingElementId = "divProcessing",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "Get",
                    UpdateTargetId = "HoSoGrid"
                })
            </th>
            <th width="10%">
                @Ajax.ActionLink("Hộp số", "HoSoSorting", new
                {
                    sortExpression = ViewBag.CurrentSort == "HOPSO desc" ? "HOPSO asc" : "HOPSO desc",
                    currentFilter = ViewBag.CurrentFilter,
                    pageSize = ViewBag.PageSize,
                    pageNumber = ViewBag.PageNumber

                }, new AjaxOptions
                {
                    LoadingElementId = "divProcessing",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "Get",
                    UpdateTargetId = "HoSoGrid"
                })
            </th>
            <th width="25"></th>
            @*<th width="25"></th>*@
            <th width="25"></th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model.Source.Count > 0)
            {
                var stt = 0;
                foreach (var item in Model.Source)
                {
                    stt++;
                    <tr>
                        <td>@stt</td>
                        <td><a href="javascript:HoSoDetail(@item.ID)" title="@item.TIEUDE">@item.TIEUDE</a></td>
                        <td>@item.HOSO_SO</td>
                        <td>@item.TEN_KHO</td>
                        <td>@item.TEN_PHONG</td>
                        <td>@item.MUCLUC_SO</td>
                        <td>@item.HOPSO</td>
                        <td>
                            <button style="padding: 2px 6px; height:25px; min-width:10px; min-height:10px" class="btn btn-primary" title="Chỉnh sửa" onclick="OnCreate(@item.ID)" data-title="Edit" data-toggle="modal" data-target="#edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                        </td>
                        @*<td>
                                <button style="padding: 2px 6px; height:25px; min-width:10px; min-height:10px" class="btn btn-success" title="Chi tiết" onclick="HoSoDetail(@item.ID)" data-title="Edit" data-toggle="modal" data-target="#edit"><i class="fa fa-eye" aria-hidden="true"></i></button>
                            </td>*@
                        <td>
                            <button style="padding: 2px 6px; height:25px; min-width:10px; min-height:10px" class="btn btn-danger" title="Xóa" onclick="DeleteHoSo(@item.ID)" data-title="Delete" data-toggle="modal" data-target="#delete"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="10" class="text-danger">Chưa có dữ liệu</td>
                </tr>

            }
        }
    </tbody>
</table>
@if (Model.Source.TotalItemCount > Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"]))
{
    <div class="pagingBox">
        <input id="HiddenPageSize" name="PageSize" type="hidden" />
        <input id="HiddenPage" name="Page" type="hidden" />
        <span class="selectBoxes display_none_mobile" style="display:none">
            @Html.DropDownList("PageSize", new SelectList(new Dictionary<string, int> { { "5", 5 }, { "10", 10 }, { "15", 15 }, { "20", 20 } }, "Key", "Value", Convert.ToString(ViewBag.PageSize)), new { id = "pagesizelist" })
        </span>
        <div class="pagerecord display_none_mobile">



            @*Page @(Model.Source.PageCount < Model.Source.PageNumber ? 0 : Model.Source.PageNumber) of @Model.Source.PageCount*@
        </div>

        @Html.PagedListPager(Model.Source, page => Url.Action("HoSoSorting", "QuanLyHoSo",
                                                                                                                                              new
                                                                                                                                              {
                                                                                                                                                  pageNumber = page,
                                                                                                                                                  sortExpression = ViewBag.CurrentSort,
                                                                                                                                                  currentFilter = ViewBag.CurrentFilter,
                                                                                                                                                  pageSize = ViewBag.PageSize,
                                                                                                                                                  HOSO_NAM = ViewBag.HOSO_NAM,
                                                                                                                                                  NAM_CHINHLY= ViewBag.NAM_CHINHLY,
                                                                                                                                                  KHO_ID=ViewBag.KHO_ID,
                                                                                                                                                  PHONG_ID=ViewBag.PHONG_ID,
                                                                                                                                                  FTS=ViewBag.FTS

                                                                                                                                              }),
                                                                                                                                               PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
                                                                                                                                               {
                                                                                                                                                   Display = PagedListDisplayMode.IfNeeded,
                                                                                                                                                   MaximumPageNumbersToDisplay = 5
                                                                                                                                               },
                                                                                                                                                new AjaxOptions
                                                                                                                                                {
                                                                                                                                                    InsertionMode = InsertionMode.Replace,
                                                                                                                                                    HttpMethod = "Get",
                                                                                                                                                    UpdateTargetId = "HoSoGrid",
                                                                                                                                                    LoadingElementId = "divProcessing"
                                                                                                                                                }))
    </div>

    <div id="divProcessing" class="processingButton" style="display: none;">
        <img width="31" height="31" alt="" class="LoadingImage" src="~/Images/ajax-loader.gif" />
    </div>
}
<div class="modal" id="FormVanBan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>

<script>
    function DeleteHoSo(id,hoSoId) {
        if (confirm("Dữ liệu xóa sẽ không khôi phục lại được?")) {
            $.ajax({
            type: "POST",
            data: { id: id },
            cache: false,
            url: "@Url.Action("DeleteHoSo")",
                success: function (response) {
                    CommonJS.showNotifySuccess("Xóa hồ sơ thành công!");
                    reloadGrid();
            }
        });
        }
    }
    function FormVanBan(id, hoSoId)
    {
        $.ajax({
            type: "GET",
            data: { id: id, HoSoID: hoSoId },
            cache: false,
            url: "@Url.Action("FormVanBan")",
            success: function (response) {
                $("#FormVanBan").html(response);
                $("#FormVanBan").modal("show");
            }
        });
    }
    function MoreHoSo(id) {
        $("tr[data-hoso=" + id + "]").toggleClass("hide-vb");
        if ($("tr[data-hoso=" + id + "]").hasClass("hide-vb")) {
            $("#more" + id).html('<i class="fa fa-plus-square-o" aria-hidden="true"></i>');
        } else {
            $("#more" + id).html('<i class="fa fa-minus-square-o" aria-hidden="true"></i>');
        }
    }
</script>