@model Web.Areas.HoSoCanBoArea.Models.HoSoCanBoChiTietVM
<style>
    #ThongTinCanBoQuanHeBanThan td {
        padding: 5px;
    }
    #detailCanBoQuanHeBanThan span {
        white-space: pre-line !important;
    }
    #FormEditCanBoQuanHeBanThan td {
        padding: 5px;
    }
</style>
<p dir="ltr" class="pt-Normal-000010">
    <span lang="en-GB" class="pt-DefaultParagraphFont-000001">a)Về bản thân: Cha, Mẹ, Vợ (hoặc chồng), các con, anh chị em ruột</span>
    <a href="javascript:createThongTinCanBoQuanHeBanThan()">
        <i class="fa fa-plus"></i>Thêm mới
    </a>
</p>
<div align="left">
    <table dir="ltr" class="pt-000004" id="detailCanBoQuanHeBanThan">
        <tbody>
            <tr>
                <td class="pt-000020">
                    <p dir="ltr" class="pt-Normal-000008">
                        <span lang="en-GB" class="pt-DefaultParagraphFont-000001"> Mối quan hệ</span>
                    </p>
                </td>
                <td class="pt-000021">
                    <p dir="ltr" class="pt-Normal-000008">
                        <span lang="en-GB" class="pt-DefaultParagraphFont-000001"> Họ và tên</span>
                    </p>
                </td>
                <td class="pt-000020">
                    <p dir="ltr" class="pt-Normal-000008">
                        <span lang="en-GB" class="pt-DefaultParagraphFont-000001"> Năm sinh</span>
                    </p>
                </td>
                <td class="pt-000021">
                    <p dir="ltr" class="pt-Normal-000008">
                        <span lang="en-GB" class="pt-DefaultParagraphFont-000001"> Quê quán, nghề nghiệp, chức danh, chức vụ, đơn vị công tác, học tập, nơi ở (trong, ngoài nước); thành viên các tổ chức chính trị - xã hội ........)</span>
                    </p>
                </td>
            </tr>
            @foreach (var item in Model.ThongTinChung.HOSO_CANBO_QUANHEBANTHAN)
            {
                <tr>
                    <td class="pt-000026">
                        <p dir="ltr" class="pt-Normal-000006">
                            <span xml:space="preserve" class="pt-000007" id="MOIQUANHE_@item.ID">
                            @item.MOIQUANHE
                        </span>
                        </p>
                    </td>
                    <td class="pt-000026">
                        <p dir="ltr" class="pt-Normal-000006">
                            <span xml:space="preserve" class="pt-000007" id="HOTEN_@item.ID">
                            @item.HOTEN
                        </span>
                        </p>
                    </td>
                    <td class="pt-000026">
                        <p dir="ltr" class="pt-Normal-000006">
                            <span xml:space="preserve" class="pt-000007" id="NAMSINH_@item.ID">
                            @item.NAMSINH
                        </span>
                        </p>
                    </td>
                    <td class="pt-000029">
                        <p dir="ltr" class="pt-Normal-000006">
                            <span xml:space="preserve" class="pt-000007" id="QUEQUAN_@item.ID">
                                @item.QUEQUAN
                            </span>
                            <a href="javascript:editCanBoQuanHeBanThanRow(@item.ID)">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="javascript:removeQuanHeBanThanRow(@item.ID)">
                                <i class="fa fa-remove"></i>
                            </a>
                        </p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="modal fade" role="dialog" id="ThongTinCanBoQuanHeBanThan">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><strong>Về bản thân: Cha, Mẹ, Vợ (hoặc chồng), các con, anh chị em ruột</strong></h4>
            </div>
            <div class="modal-body">
                <form id="FormDaoCanBoQuanHeBanThan" action="/HoSoCanBoArea/HoSoCanBo/SaveThongTinQuanHeBanThan" method="post">
                    <input type="hidden" name="HOSOID" value="@Model.ThongTinChung.ID" />
                    <table class="hinet-table table-bordered" id="table-canbo-quanhe_banthan">
                        <tr>
                            <td>
                                Mối quan hệ
                            </td>
                            <td>
                                Họ và tên
                            </td>
                            <td>
                                Năm sinh
                            </td>
                            <td>
                                Quê quán, nghề nghiệp, chức danh, chức vụ, đơn vị công tác, học tập, nơi ở (trong, ngoài nước); thành viên các tổ chức chính trị - xã hội ........)
                            </td>
                            <td>
                                <a href="javascript:addNewRow()">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" name="MOIQUANHE" class="required form-control " />
                                <div class="note-error ">
                                    <span class="error mes-note-error"></span>
                                </div>
                            </td>
                            <td>
                                <input type="text" name="HOTEN" class="required form-control " />
                                <div class="note-error ">
                                    <span class="error mes-note-error"></span>
                                </div>
                            </td>
                            <td>
                                <input type="text" name="NAMSINH" class="required form-control " />
                                <div class="note-error ">
                                    <span class="error mes-note-error"></span>
                                </div>
                            </td>
                            <td>
                                <input type="text" name="QUEQUAN" class="required form-control" />
                                <div class="note-error">
                                    <span class="error mes-note-error"></span>
                                </div>
                            </td>
                            <td>
                                <a href="javascript:void(0)" class="removeRow">
                                    <i class="fa fa-remove"></i>
                                </a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="saveCanBoCongTac('FormDaoCanBoQuanHeBanThan')">Lưu</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" role="dialog" id="editThongTinCanBoQuanHeBanThan">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><strong>Về bản thân: Cha, Mẹ, Vợ (hoặc chồng), các con, anh chị em ruột</strong></h4>
            </div>
            <div class="modal-body">
                <form id="FormEditCanBoQuanHeBanThan" action="/HoSoCanBoArea/HoSoCanBo/SaveThongTinQuanHeBanThan" method="post">
                    <input type="hidden" name="HOSOID" value="@Model.ThongTinChung.ID" />
                    <input type="hidden" name="DAOTAO_ID" id="DAOTAO_ID" />
                    <table class="hinet-table table-bordered">
                        <tr>
                            <td>
                                Mối quan hệ
                            </td>
                            <td>
                                Họ và tên
                            </td>
                            <td>
                                Năm sinh
                            </td>
                            <td>
                                Quê quán, nghề nghiệp, chức danh, chức vụ, đơn vị công tác, học tập, nơi ở (trong, ngoài nước); thành viên các tổ chức chính trị - xã hội ........)
                            </td>
                            <td>
                                <a href="javascript:addNewRow()">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" name="MOIQUANHE" class="required form-control " />
                                <div class="note-error ">
                                    <span class="error mes-note-error"></span>
                                </div>
                            </td>
                            <td>
                                <input type="text" name="HOTEN" class="required form-control" />
                                <div class="note-error">
                                    <span class="error mes-note-error"></span>
                                </div>
                            </td>
                            <td>
                                <input type="text" name="NAMSINH" class="required form-control " />
                                <div class="note-error ">
                                    <span class="error mes-note-error"></span>
                                </div>
                            </td>
                            <td>
                                <input type="text" name="QUEQUAN" class="required form-control" />
                                <div class="note-error">
                                    <span class="error mes-note-error"></span>
                                </div>
                            </td>
                            <td>
                                <a href="javascript:void(0)" class="">
                                    <i class="fa fa-remove" style="display:none"></i>
                                </a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="saveCanBoCongTac('FormEditCanBoQuanHeBanThan')">Lưu</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<table style="display: none" id="HIDDENCANBOQUANHEBANTHAN">
    <tr>
        <td>
            <input type="text" name="MOIQUANHE" class="required form-control " />
            <div class="note-error ">
                <span class="error mes-note-error"></span>
            </div>
        </td>
        <td>
            <input type="text" name="HOTEN" class="required form-control " />
            <div class="note-error ">
                <span class="error mes-note-error"></span>
            </div>
        </td>
        <td>
            <input type="text" name="NAMSINH" class="required form-control " />
            <div class="note-error ">
                <span class="error mes-note-error"></span>
            </div>
        </td>
        <td>
            <input type="text" name="QUEQUAN" class="required form-control" />
            <div class="note-error">
                <span class="error mes-note-error"></span>
            </div>
        </td>
        <td>
            <a href="javascript:void(0)" class="removeRow">
                <i class="fa fa-remove"></i>
            </a>
        </td>
    </tr>
</table>
<script>
    function createThongTinCanBoQuanHeBanThan() {
        $("#ThongTinCanBoQuanHeBanThan").modal();
    }
    function addNewRow() {
        $("#table-canbo-quanhe_banthan").append($("#HIDDENCANBOQUANHEBANTHAN").html());
    }
    function editCanBoQuanHeBanThanRow(id) {
        $("#editThongTinCanBoQuanHeBanThan").modal();
        $("#editThongTinCanBoQuanHeBanThan #DAOTAO_ID").val(id);
        $("#editThongTinCanBoQuanHeBanThan input[name=MOIQUANHE]").val($("#MOIQUANHE_" + id).html().trim());
        $("#editThongTinCanBoQuanHeBanThan input[name=HOTEN]").val($("#HOTEN_" + id).html().trim());
        $("#editThongTinCanBoQuanHeBanThan input[name=NAMSINH]").val($("#NAMSINH_" + id).html().trim());
        $("#editThongTinCanBoQuanHeBanThan input[name=QUEQUAN]").val($("#QUEQUAN_" + id).html().trim());
    }
    function removeQuanHeBanThanRow(id) {
        $.confirm({
            'title': 'Xác nhận xử lý',
            'message': 'Bạn có chắc chắn muốn xóa thông tin quan hệ bản thân cán bộ, quan hệ bản thân này?',
            'buttons': {
                'Đồng ý': {
                    'class': 'btn-confirm-yes btn-primary',
                    'action': function () {
                        $.ajax({
                            url: '/HoSoCanBoArea/HoSoCanBo/XoaQuanHeBanThan',
                            type: 'post',
                            cache: false,
                            data: { id: id },
                            success: function (data) {
                                if (data.Type == "SUCCESS") {
                                    NotiSuccess("Xóa thành công");
                                    setTimeout(location.reload(), 2000);
                                } else {
                                    NotiError(data.Message);
                                }

                            },
                            error: function (err) {
                                NotiError(err.responseText);
                            }
                        });
                    }
                },
                'Hủy bỏ': {
                    'class': 'btn-danger',
                    'action': function () { }	// Nothing to do in this case. You can as well omit the action property.
                }
            }
        });
    }
    function saveCanBoQuanHeBanThan(formid) {
        var is_submit = onSubmit(formid);
        if (is_submit) {
            $("#" + formid).submit();
        } else {
            return false;
        }
    }
    function onSubmit(formid) {
        var err = 0;
        var require = requiredFieldForFormId(formid);
        if (!require) {
            err++;
        }

        if (err == 0) {
            return true;
        } else {
            NotiError("Bạn vui lòng điền đầy đủ thông tin");
            return false;
        }
    }
</script>